/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --yellow: #f0f3bd;
  --brown: #654900;
  --darkcyan: #0f3c4b;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  --light: 300;
  --semibold: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: var(--light);
  overflow-x: hidden;
  overflow-y: auto;
}
